*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #e1f0f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d0d0d0' fill-opacity='0.41'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav{
    margin: auto;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(3, 3, 3);
  }
   
  
  li a {
    display: block;
    color: rgb(253, 253, 253);
    text-align: right;
    padding: 5px 0px;
    text-decoration: none;
  } 
  
li a:hover:not(.active) {
    background-color: rgb(97, 94, 94);
  }
  
  .active {
    background-color: #666;
  }

.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
}
.addTask > input[type="text"]{
    width: 90%;
    color: #333;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
}
.addTask button{
    margin: 0 10px;
    background: #222;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.Pending {
    margin: 0px 0;
    padding: 8px;
}

.Completed{
    margin: 5px 0;
    padding: 18px;
}

h3{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    padding: 6px;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    background: #baccc0;
    font-size: 22px;
    counter-increment: my-counter;
}
ol.Completed li{
    background: #b5c5ba;
}
ol li::before{
    content: counter(my-counter);
    background: #757288;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: rgb(241, 237, 237);
    margin-right: 0.5rem;
}
li {
    float: right;
    padding: 5px;
    font-size: 25px;
    margin-right: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.checkbox{
    width: 25px;
    height: 25px;
}
li button{
    width: 30px;
    height: 30px;
    float: right;
    padding: 5px;
    font-size: 15px;
    line-height: 5px;
    margin-right: 15px;
    cursor: pointer;
}
