<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheet/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>To-Do App</title>
</head>

<body>
    <ul class="nav">
        <li style="float:left"><a href="/">ToDo-App</a></li>
        <li style="float:right"><a class="active" href="/views/login.html">Log-Out</a></li>
    </ul>

    <body>
        <div class="container">
            <div class="addTask">
                <input type="text" placeholder="What will you do today?">
                <button onclick="addToDo()" action="addToDo" class="add-button" type="submit" form="nameform"
                    value="Submit">Add</button>
            </div>

            <div class="container">
                <ol class="Pending">
                    <h3>Pending</h3>
                    <li>Task
                        <button><i class='far fa-edit'></i> </button>
                        <button><i class="far fa-trash-alt"></i></button>
                        <button><i class="checkbox" type="checkbox"></i></button>                    
                    </li>
                </ol>
            </div>

                <ol class="Completed">
                    <h3>Completed</h3>
                    <li>buy some fruits
                        <button><i class="far fa-trash-alt"></i></button>
                        <button><i class='far fa-edit'></i> </button>
                    </li>
                </ol>

        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>

</html>